{extend name='common'}
{block name='content'}
{include file='category/header'}
<div class="panel panel-default mt20">
  <div class="panel-heading">
    <h3 class="panel-title">编辑栏目</h3>
  </div>
  <div class="panel-body">
	<form id="upBox" action="{:url('admin/Category/update', ['id'=>$data.cid])}" method='post' class='mt10' enctype="multipart/form-data">
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">所属栏目</span>
		  <select name="pid" class="form-control">
			<option value="0">顶级栏目</option>
			{foreach $list as $v}
			<option value="{$v.cid}" {eq name="$v.cid" value="$data.pid"}selected{/eq}>{$v.catname}</option>
			{/foreach}
		  </select>
		</div>
		<div class="input-group mt20">
		  <span class="input-group-addon" id="basic-addon1">栏目名称</span>
		  <input type="text" name='catname' value='{$data.catname}' class="form-control" placeholder="栏目名称" aria-describedby="basic-addon1">
		</div>
		<div class="input-group mt20">
			<div id="inputBox">
			 	<input type="file" id="file" name='thumb' accept="image/png,image/jpg,image/gif,image/JPEG"/>点击选择图片
		 	</div>
		    <div id="imgBox">
				<div class="imgContainer">
					<img alt='{$data.catname}' src='base_url/{$data.thumb}' onclick="imgDisplay(this)">
					<p onclick="removeImg(this)" class="imgDelete">删除</p>
				</div>
		    </div>
		</div>
		<div class="input-group mt20">
		  <span class="input-group-addon" id="basic-addon1">栏目排序</span>
		  <input type="text" name='orderby' value='{$data.orderby}' class="form-control" placeholder="栏目排序" aria-describedby="basic-addon1">
		</div>
		<div class="input-group mt20">
		  <span class="input-group-addon" id="basic-addon1">栏目跳转地址</span>
		  <input type="text" name='linkurl' value='{$data.linkurl}' class="form-control" placeholder="栏目跳转地址" aria-describedby="basic-addon1">
		</div>
		<div class="input-group mt20">
		  <span class="input-group-addon" id="basic-addon1">栏目描述</span>
		  <textarea name='description' class="form-control" placeholder="栏目描述" aria-describedby="basic-addon1">{$data.description}</textarea>
		</div>
		<div class="input-group mt20">
		  <span id="basic-addon1">是否是封面栏目</span>
		  <input type="checkbox" {eq name='$data.iscover' value='1'}checked{/eq} name='iscover'aria-describedby="basic-addon1">
		</div>
		<div class="input-group mt20">
			<button type='submit' class='btn btn-default'>提交</button>
		</div>
	</form>
  </div>
</div>
{js href='base_url/static/js/upload.js'}
<script type="text/javascript">
	imgUpload({
		inputId:'file', //input框id
		imgBox:'imgBox', //图片容器id
	});
</script>
{/block}
