{extend name='common'}
{block name='content'}
<div class='panel panel-default'>
    <div class='panel-heading'>订单信息</div>
    <div class='panel-body'>
        <form method='post'>
            <div class="form-group">
                <label>收货地址</label>
                <select class="form-control">
                    <option value="">东莞</option>
                </select>
            </div>
            <div class="form-group mt20">
                <label>收货人</label>
                <input type="text" class="form-control" placeholder="收获人">
            </div>
            <div class="form-grou mt20p">
                <label>联系电话</label>
                <input type="text" class="form-control" placeholder="联系电话">
            </div>
            <div class="form-group mt20">
                <label>备注</label>
                <textarea class="form-control" placeholder="备注"></textarea>
            </div>
            <div class="form-group mt20">
                <label>支付方式</label>
                <a href="javascript:" class='btn btn-danger'>货到付款</a>
            </div>
            <div class='order-list'>
                <div class='head clearfix'>
                    <span class='pull-left'>商品清单</span>
                    <a class='pull-right' href='/cart.html'>< 返回购物车修改</a>
                </div>
                <table class='table mt20'>
                    <tr>
                        <td class='clearfix'>
                            <a href="#" class="thumbnail pull-left">
                                <img width='50' src="base_url/static/images/donkey.jpg" alt="...">
                            </a>
                            <div class='pull-left col-md-offset-1'>
                                <p>华为mate10</p>
                                <p>款式：黑色</p>
                            </div>
                        </td>
                        <td>￥4400.00</td>
                        <td>55</td>
                        <td>小计：4400.00</td>
                    </tr>
                    <tr>
                        <td colspan='4'></td>
                    </tr>
                </table>
                <p class='text-right'>商品总数：1</p>
                <p class='text-right'>金额合计：￥4444.00</p>
            </div>
            <div class='form-group text-right'>
                <button type='submit' class='btn btn-danger'>提交订单</button>
            </div>
        </form>
    </div>
</div>
{/block}