<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大毛驴商城</title>
	<link rel="stylesheet" href="base_url/static/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="base_url/static/css/common.css">
	<script src="base_url/static/js/jquery-3.2.1.min.js"></script>
	<script src="base_url/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='top-header'>
		{notempty name="$Think.session.user_name"}
			<a href='/user.html'>{$Think.session.user_name} </a>
			 |
			<a href='/logout.html'> 退出登陆 </a>
		{else /}
			<a href='/login.html'>登陆 </a>
			 |
			<a href='/register.html'> 注册 </a>
		{/notempty}
	</div>
	{block name='content'}{/block}
</body>
</html>