<div class="list-group">
    <a href="{:url('home/User/orderList')}" class="list-group-item {present name='$orderList'}active{/present}">我的订单</a>
    <a href="{:url('home/User/index')}" class="list-group-item {present name='$user'}active{/present}">个人信息</a>
    <a href="{:url('home/User/changePassword')}" class="list-group-item {present name='$change'}active{/present}">修改密码</a>
    <a href="{:url('home/User/address')}" class="list-group-item {present name='$address'}active{/present}">我的地址</a>
</div>
