{extend name='common'}
{block name='content'}
<div class='row'>
    <div class='col-md-2'>
        {include file='user/nav'}
    </div>
    <div class='col-md-10'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h4>订单列表</h4>
            </div>
            <div class='panel-body'>
                <table class='table table-hover'>
                    <thead>
                        <tr>
                            <th>宝贝</th>
                            <th>宝贝属性</th>
                            <th>状态</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>商品总价</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}