{extend name='common'}
{block name='content'}
<style>
    .form-control{
        width: auto;
    }
</style>
<div class='address-list panel panel-default'>
    <div class='panel-heading'>收货地址</div>
    <div class='panel-body'>
        <div class='text-right'>
            <a href="{:url('home/User/address')}">管理收货地址</a>
        </div>
        {notempty name='$address'}
        {foreach $address as $v}
        <div class="checkbox">
            <label>
                <input type="checkbox"> 
                <span class='address'>{$v.address}</span>
            </label>
        </div>
        {/foreach}
        {/notempty}
    </div>
</div>
<table class='table order-info mt20'>
    <thead>
        <tr>
            <th>商品信息</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {notempty name='$goods'}
        {foreach $goods as $sid=>$good}
        <tr>
            <td class='clearfix'>
                <a href="#" class="thumbnail pull-left">
                    <img width='50' src="base_url/{$good.cover}" alt="{$good.name}">
                </a>
                <div class='pull-left col-md-offset-1'>
                    <p class='good-name'>{$good.name}</p>
                    <p>款式：
                        <span class='good-style'>{$good.options.color}</span>
                    </p>
                </div>
            </td>
            <td>￥<em class='good-price'>{$good.price}</em></td>
            <td class='clearfix'>
                <a href="javascript:" onclick="addGood('{$sid}', '{$good.id}', this)" class='add-num btn btn-default pull-left'>+</a>
                <input type="text" name='good_num' value='{$good.num}' class='form-control pull-left good-num'>
                <a href="javascript:" onclick="subGood('{$sid}', this)" class='sub-num btn btn-default pull-left'>-</a>
            </td>
            <td>小计：<span class='text-danger'>￥<em class='total-price'>{$good.price}</span></em></td>
            <td>
                <a onclick="delGood('{$sid}')" href="javascript:">
                    <i class='glyphicon glyphicon-trash'></i>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan='7'>
                <textarea class='buyer-note form-control' placeholder="买家留言"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="7"></td>
        </tr>
        {/foreach}
        {/notempty}
    </tbody>
</table>
<div class='clearfix row'>
    <a href="base_url" class='pull-left col-md-4'>< 继续购物</a>
    <div class='pull-right col-md-8 text-right'>
        <span>共1件商品</span>
        <span class='col-md-offset-1'>合计：
            <span class='text-danger'>
                ￥<em class='all-price'>{$cart.total}</em>
            </span>
        </span>
        <a href="javascript:" class='btn btn-danger col-md-offset-1 submit-order'>提交订单</a>
    </div>
</div>
<form class='off order-form' method='post'>
    <input type="hidden" name='address' value=''>
    <input type="hidden" name='note' value=''>
    <input type="hidden" name='goods_id' value=''>
</form>
<script type='text/javascript'>
    $(function(){
        let form = $('.order-form');
        //获取收货地址
        $('.address-list input[type=checkbox]').on('change', function(){
            form.children('input[name=address]').val($(this).next('.address').text());
        });
        //获取买家备注
        $(document).on('click', '.submit-order', function(){
            form.children('input[name=note]').val($('.buyer-note').val());
        });
    });
    //隐藏购物车
    $('.cart-box').hide();
    function cartAjax(url, type, data, callBack){
        $.ajax({
            url: url,
            type: type,
            data: data,
            dataType: 'json',
            contentType: 'application/json',
            success: callBack
        });
    }
    //增加商品
    function addGood(sid, gid, e){
        let input = $(e).next('input[name=good_num]'),
            total = $(e).closest('tr').find('.total-price'),
            num = parseInt(input.val()) + 1,
            data = {
                num: num,
            };
        if(data.num === 1){
            //数量0到1为新增
            let tr = $(e).closest('tr');
            data.name = tr.find('.good-name').text();
            data.options = {color: tr.find('.good-style').text()};
            data.price = tr.find('.good-price').text();
            data.id = gid;
            data = JSON.stringify(data);
            cartAjax('/cart', 'POST', data, function(res){
                input.val(res.goods[sid].num);
                total.text(res.goods[sid].total);
                $('.all-price').text(res.total);
            });
        }else{
            //更新购物车
            data = JSON.stringify(data);
            cartAjax('/cart/'+sid, 'PUT', data, function(res){
                input.val(res.goods[sid].num);
                total.text(res.goods[sid].total);
                $('.all-price').text(res.total);
            });
        }
    }
    //减少商品
    function subGood(sid, e){
        let input = $(e).prev('input[name=good_num]'),
            total = $(e).closest('tr').find('.total-price'),
            num = parseInt(input.val()) - 1;
        if(num < 0){
            input.val(0);
            return;
        }
        let data = {
            num: num,
        };
        data = JSON.stringify(data);
        cartAjax('/cart/'+sid, 'PUT', data, function(res){
            if(res.goods[sid]){
                input.val(res.goods[sid].num);
                total.text(res.goods[sid].total);
                $('.all-price').text(res.total);
            }else{
                input.val(0);
                total.text(0);
                $('.all-price').text(0);
            }
        });
    }
    //删除商品
    function delGood(sid){
        cartAjax('/cart/'+sid, 'DELETE', '', function(res){
            let div = $('<div></div>');
            if(!res.goods){
                //购物车为空时清空所有商品
                $('.order-info tbody').html('');
                $('.all-price').text(0);
                return;
            }
            $.each(res.goods, function(k, v){
                let temp = `
                <tr>
                    <td class='clearfix'>
                        <a href="#" class="thumbnail pull-left">
                            <img width='50' src="base_url/${v.cover}" alt="${v.name}">
                        </a>
                        <div class='pull-left col-md-offset-1'>
                            <p>${v.name}</p>
                            <p>款式：${v.options.color}</p>
                        </div>
                    </td>
                    <td>￥<span class='text-danger'>${v.price}</span></td>
                    <td class='clearfix'>
                        <a href="javascript:" onclick="addGood('${k}', this)" class='add-num btn btn-default pull-left'>+</a>
                        <input type="text" name='good_num' value='${v.num}' class='form-control pull-left'>
                        <a href="javascript:" onclick="subGood('${k}', this)" class='sub-num btn btn-default pull-left'>-</a>
                    </td>
                    <td>小计：<span class='text-danger'>${v.price}</span></td>
                    <td>
                        <a onclick="delGood('${k}')" href="javascript:">
                            <i class='glyphicon glyphicon-trash'></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='7'>
                        <textarea class='form-control buyer-note' placeholder="买家留言"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="7"></td>
                </tr>`;
                div.append(temp);
            });
            $('.order-info tbody').html(div.html());
            $('.all-price').text(res.total);
        });
    }
</script>
{/block}